# Apricity Gateway:91 nRF52840 board configuration
#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic

if BOARD_APRICITY_GATEWAY_NRF52840

config BOARD_ENABLE_DCDC
	bool "Enable DCDC mode"
	select SOC_DCDC_NRF52X
	default y

config BOARD_APRICITY_GATEWAY_NRF52840_RESET
	bool "Enable GPIO reset line"
	default y
	help
	 Let the nRF52840 be reset from the nRF9160 via a GPIO line.
	 The GPIO line may only be one of the 8 interface pins.
	 The line is active high.

if BOARD_APRICITY_GATEWAY_NRF52840_RESET

comment "nRF52840 pins"

config BOARD_APRICITY_GATEWAY_NRF52840_RESET_PORT
	int "GPIO port for reset"
	default 1
	help
	 GPIO port on nRF52840 for reset signal from nRF9160.

config BOARD_APRICITY_GATEWAY_NRF52840_RESET_PIN
	int "GPIO pin for reset"
	default 2
	help
	 GPIO pin on nRF52840 for reset signal from nRF9160.

endif # BOARD_PCA10090_NRF52840_RESET

endif # BOARD_APRICITY_GATEWAY_NRF52840
